  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
  }

  body {
      background-color: #f9f9f9;
      color: #111;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      background-color: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .top-right {
      display: flex;
      align-items: center;
  }

  nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #000;
  }

  .nav-right {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .cart-button {
      background-color: #f1f5f9;
      padding: 8px 20px;
      border-radius: 12px;
      font-weight: bold;
      border: none;
      cursor: pointer;
  }

  .container {
      max-width: 800px;
      margin: 60px auto;
      text-align: center;
  }

  h1 {
      font-size: 26px;
      margin-bottom: 30px;
      font-weight: bold;
  }

  .tabs {
      display: flex;
      justify-content: start;
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;
  }

  .tabs .tab {
      margin: 0 20px;
      padding-bottom: 10px;
      cursor: pointer;
      font-weight: 500;
      color: #6b7280;
  }

  .tabs .active {
      border-bottom: 2px solid #111;
      color: #000;
      font-weight: 700;
  }

  form {
      text-align: left;
      display: none;
  }

  form.active-form {
      display: block;
  }

  label {
      display: block;
      margin: 10px 0 5px;
      font-weight: 500;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
      width: 50%;
      padding: 12px;
      border-radius: 10px;
      border: 1px solid #ddd;
      margin-bottom: 15px;
  }

  .signup-btn {
      width: 60%;
      padding: 12px;
      border-radius: 25px;
      background-color: #338FF2;
      border: none;
      font-weight: bold;
      cursor: pointer;
  }

  .login-btn {
      width: 50%;
      padding: 12px;
      border-radius: 10px;
      background-color: #dbeafe;
      border: none;
      font-weight: bold;
      cursor: pointer;
  }


  .signin-text,
  .signup-text {
      padding-top: 20px;
      color: #6b7280;
      text-align: center;
  }

  .signin-text a,
  .signup-text a {
      color: #111;
      text-decoration: none;
      font-weight: 500;
  }

  .forgot {
      color: #6b7280;
      font-size: 14px;
      text-decoration: none;
      display: block;
      margin-bottom: 20px;
  }